header 
{
    display: flex;
    
    justify-content: space-between;
    background-color: maroon;
    
    
    
}

.bloc_avant_h1
{
    width: 640px;
}

#h1
{
    
    
    color: #FFD133;
    font-size: 13px; 
    font-weight: bolder;
}

.pas
{
    
    width: 400px;
    margin-top: -55px;
    padding-left: 830px; 
    color: #FFD133;
    font-size: 23px;
    font-weight: bolder;
    
    
}

.premier_ul
{
    
    display: flex;
     
    justify-content: flex-end;
    list-style-type: none;
    
    
}

.premier_nav a
{
    color: #FFD133;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.coucou
{
    background-color: maroon;
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: center;
}
.form
{
    height: 580px;
    padding-left: 750px;
    padding-top: 15px;
    background-color: maroon;
    color: #FFD133;
    font-size: 20px;
    font-weight: bolder;
}

.premier_nom .premier_prenom .naissance
{
    margin-bottom: 25px;
}


textarea
{
    resize: none;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    left: -60px;
    
}

.bouton_marron
{
    background-color: maroon;
    color: #FFD133;
    text-decoration: none;
    border: 5px solid #FFD133;
    border-radius: 5px;
    margin-left: 280px;
    position: relative;
    top: -13px;
    left: -28px;
    
}

li
{
    margin: 33px;    
}

.deuxieme_nav ul
{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.deuxieme_nav a
{
    color: #FFD133;    
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

footer
{
    background-color: maroon;
    height: 140px;
}